/*tarik*/
/*anasayfa*/
@import url('http://fonts.cdnfonts.com/css/gotham');
body{
    font-family: 'Gotham', sans-serif !important;
    margin: 0;
    padding: 0;
}
.bg-dark_orj {
    --bs-bg-opacity: 1;
    background-color: #0d3b65 !important;
    border-top: 1px solid #fff;
}
.footer{
    background-color: #0d3b65!important;
   
}

.footer h5{
    color: white !important;
}

.footer p{
    color: white !important;
}

.footer ul li a{
     text-decoration-line: none !important;
     color: white !important;
}

.top-head{
    background: #0d3b65;
}
.hemen-ara{
    color: #fff;
}
.link-secondary {
    color: #000000 !important;
}
@media (min-width:768px) {
    .mobil_menu{
        display: none;
    }
    .masaustu_menu{
        display: block;
    }
}
@media (max-width:767px) {
    .mobil_menu{
        display: block;
    }
    .masaustu_menu{
        display: none;
    }
}
/*tarik*/

/*yasin*/

/*hizmetlerimiz*/


.column-left p{
    margin-top: 30px;
 }
 .column-right img{
     width: 600px;
     height: 300px;
 }
 
 .sayfa-baslik h4{
     transform:translateX(5px) !important;
     font-weight:bold ;
     padding: 5px;
     color:#0D3A65 ;
    
 }

 
 .page-section{
     margin-top: 30px;
     
 }
 
 .page-section img{
     width: fit-content;
     height: fit-content;
 }

/*yasin*/